/*** Colors ***/
$primary-color: #444444;
$primary-light-color: lighten($primary-color, 15%);
$primary-dark-color: darken($primary-color, 15%);
$secondary-color: #75afdd;
$secondary-light-color: lighten($secondary-color, 15%);
$secondary-dark-color: darken($secondary-color, 15%);
$secondary-color-transparent: rgba($secondary-color, 0.8);
$third-color: #acc32d;
$third-light-color: lighten($third-color, 15%);
$third-dark-color: darken($third-color, 15%);

$dialog-bg-color: whitesmoke;
$dialog-border-color: color("grey", "lighten-3");

$white-color: white;
$black-color: black;
$black-color-transparent: rgba(0, 0, 0, 0.8);
$grey-color: color("grey", "base");
$grey-dark-color: color("grey", "darken-2");
$grey-light-color: color("grey", "lighten-2");

$success-color: color("green", "base");
$error-color: color("red", "base");

$link-color: $black-color;
$link-hover-color: $secondary-color;

/*** Buttons ***/
$button-bg-color-disabled: #DFDFDF;
$button-color: $secondary-color;
$button-color-disabled: #9F9F9F;
$button-color-flat: #343434;
$button-color-raised: #fff;
$button-floating-size: 37px;
$button-height: 36px;
$button-font-size-shared: 1.3rem;
$button-large-icon-font-size: 1.6rem;
$button-line-height: 36px;
$button-raised-background: $secondary-color;
$button-raised-background-hover: $secondary-dark-color;

/*** Fonts ***/
$primary-font-family: 'Raleway', sans-serif;;
$navigation-font-family: $primary-font-family;
$roboto-font-path: "../font/roboto/";

/*** Global ***/
// Media Query Ranges
$small-screen-up: 601px;
$medium-screen-up: 1025px;
$large-screen-up: 1201px;
$small-screen: 600px;
$medium-screen: 1024px;
$large-screen: 1200px;
$larger-screen: 1300px;
$larger-screen-up: 1301px;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})";
$large-and-up: "only screen and (min-width : #{$medium-screen-up})";
$small-and-down: "only screen and (max-width : #{$small-screen})";
$medium-and-down: "only screen and (max-width : #{$medium-screen})";
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})";
$larger-and-down: "only screen and (max-width : #{$larger-screen})";
$larger-and-up: "only screen and (min-width : #{$larger-screen-up})";

// Grid Variables
$num-cols: 12;
$gutter-width: 1.5rem;
$element-top-margin: $gutter-width/3;
$element-bottom-margin: ($gutter-width*2)/3;

/*** Navbar ***/
$navbar-height: 84px;
$navbar-height-mobile: 64px;
$sidenav-item-height: 64px;
$navbar-font-color: #fff;
$navbar-brand-font-size: 2.1rem;

/*** SideNav ***/
$sidenav-bg-color: #fff;
$sidenav-padding-right: 15px;

/*** Photo Slider ***/
$slider-bg-color: color('grey', 'base');
$slider-bg-color-light: color('grey', 'lighten-2');
$slider-indicator-color: $third-color;

/*** Typography ***/
$off-black: rgba(0, 0, 0, 0.87);

// Header Styles
$h1-fontsize: 4.2rem;
$h2-fontsize: 2.08rem;
$h3-fontsize: 1.76rem;
$h4-fontsize: 1.54rem;
$h5-fontsize: 1.32rem;
$h6-fontsize: 1rem;

// Footer
$footer-bg-color: $primary-color;

// Flowtext
$range : $large-screen - $small-screen;
$intervals: 20;
$interval-size: $range / $intervals;

/*** Page specific ***/